@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9599a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


$body-width: 1280px;

body{
  background: rgb(202, 243, 248);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(218, 238, 241), rgb(148, 203, 211));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(218, 238, 241), rgb(148, 203, 211)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Bree Serif', sans-serif;
}
.main {
  width: 90%;
  max-width: $body-width;
  min-height: 90vh;
  margin: 0 auto;
  padding: 15vh 0;
}
#root {
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a, a:visited {
  display: inline-flex;
  height: fit-content;
  // padding: 5px 10px;
  // font-size: 14px;
  // font-weight: 200;
  // color: rgb(121, 111, 103);
  text-decoration: none;
}

$cont-height: 50vh;
.cont {
  // background: url("/data/Godzilla.jpg") no-repeat center center;
  // background-size: cover;
  background-color: #22252b;
  min-height: 20em;
  height: $cont-height;
  img {
    height: $cont-height;
  }
}
.cont-overlay {
  box-shadow: 0px 0px 40px 40px transparent, 0px 0px 60px 80px inset;
  z-index: 1;
  pointer-events: none;
  height: 130%!important;
  top: -15%!important;
}

.font-gill {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}

// Compare Section

.topic-header {
  width: 100%;
  text-align: center;
  float: right;
  font-size: 3vw;
  // background-color: lightgrey;
}
.img-w100 img{
  width: 100%;
}