$custom-bg: rgb(113, 184, 255);

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
    // transition: all 0.5s;
    // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

// html:not([scrollY='0']) {
//     .header {
//         background-color: #c7cbce;
//         box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
//         z-index: 99;
//     }
// }
.navbar {
    box-shadow: none;
}
nav {
    // height: 60px;
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    background-color: inherit;
    // max-width: 00px;
    margin: auto;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    a {
        height: fit-content;
        color: #222;
    }
    .nav-logo {
        // margin-top: 5px;
        // margin-left: 30px;
        width: 20vw;
        height: 4vw;
        min-width: 170px;
        min-height: 34px;
        max-width: 220px;
        max-height: 45px;
    }
    .nav-link{
        // color: rgba(0, 0, 0, 0.5) !important;
        &:hover {color: rgba(0, 0, 0,1)!important; font-weight: 500 }
        color: rgba(0, 0, 0,.5) !important;
    }
    .nav-links {
        margin-top: 15px;
        font-family: 'Bree Serif', sans-serif;
        a, a:visited {
            display: inline-flex;
            line-height: normal;
            padding: 5px 10px;
            margin-right: 5px;
            border-radius: 8px;
            font-size: 14px;
            // font-weight: 200;
            // color: rgb(55, 81, 228);
            text-decoration: none;
        }
        
    }
    .active {
        // background-color: rgb(166, 174, 182);
        // pointer-events: none;
        // font-weight: 500;
        color: rgba(0, 0, 0,1)!important; 
        // font-weight: 500;
    }
}


.bg-custom {
    background-color: $custom-bg;
    box-shadow: 1px 3px 10px rgba(87, 45, 45, 0.4);
    height: 50px;
}




 

@media (max-width: 992px) {
.header {
    background-color: $custom-bg;
    transition: all 0s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16) !important;
}
}