$header-size: 2.2rem;
$sub-header-size: 1.3rem;
$body-font: 1rem;

.page-container {
    width: 65vw;
    max-width: calc(1280px * 0.65 );
    text-align: justify;
    .page-title {
        font-size: $header-size;
        font-weight: 500;
    }
    .page-body {
        color: rgba($color: #312d2d, $alpha: 1.0);
        font-size: $body-font;
        .page-top-members {
            .page-top-element {
                margin-top: 5vh;
                .element-title {
                    padding-bottom: 10px;
                    font-size: $sub-header-size;
                }
                .element-image {
                    width: 90%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}