.card {
    box-shadow: 1px 1px 3px #000;
    transition: all .3s;
    p {
        font-size: 0.8em;
    }
}
.scale {
    &:hover {
        transform: scale(1.08);
        cursor: pointer;
    }
}
.scale-2 {
    &:hover {
        transform: scale(1.4);
        transition: all .2s;
        cursor: pointer;
    }
}

.card-title {
    font-size: 1em;
}